.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}
